

<div class="container-fluid">
  <div class="section clearfix">
    <div class="shop-banner">
        <%=  image_tag(@shop.image) %>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3 section-part section">
        <h3>
          <%= @shop.name %>
        </h3>
        <p>
          <strong>Owned by:</strong>
          <%= link_to @shop.user.name, user_path %>
        </p>

        <p>
          <strong>Location:</strong>
          <%= @shop.location %>
        </p>
        <br>
        <% if (user_signed_in?) && (current_user == @shop.user) %>
          <%= link_to "Add new item", new_item_path(@item), class: "button-other edit" %>
        <% end %>
        <hr>

        <p>
          Shop followers <span class="badge">42</span></a>
        </p>
        <p>
          Items sold <span class="badge">42</span></a>
        </p>
        <p>
          Reviews <span class="badge">42</span></a>
        </p>
      </div>
      <div class="col-md-9">
        <div class="row">
          <% @shop.user.items.each do |item| %>
            <div class="col-md-3">
              <div class="thumbnail">
                <%= link_to image_tag(item.image.url(:medium)), item %>
                <div class="caption">
                  <span class="label label-success"><%= item.category.name %></span>
                  <h3><%= link_to item.name, item %></h3>
                  <p class="amount"><%= number_to_currency(item.price) %></p>
                  <!-- <span><i class="fa fa-map-marker" aria-hidden="true"><%= item.location %></i></span> -->
                  <br>
                </div>
              </div>
            </div>
          <% end %>
            </div>
        </div>

      </div>
      <hr>
      <div class="edit">
        <% if (user_signed_in?) && (current_user == @shop.user) %>
          <%= link_to 'Edit', edit_shop_path(@shop) %> |
          <%= link_to 'Back', shops_path %>
        <% end %>
          <!--Add these links later to "MANAGE ITEMS page"  -->
      </div>
  </div>
</div>
