


<br>
<div class="container">
  <section class="row clearfix">
    <div class="">
      <div class="col-md-9">
        <div class="section-part section">
          <div class="main-banner">

          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="section-part section">
          <h4 class="section-header">Deal of the day</h4>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="page-header">
      <h3>Featured items<small> Browse through our latest items</small></h3>
    </div>
    <div class="row">
        <% @items.each do |item| %>
          <div class="col-md-2">
            <div class="thumbnail">
              <%= link_to image_tag(item.image.url(:medium)), item %>
                <div class="caption">
                  <h3><%= link_to item.name, item %></h3>
                  <p class="amount"><%= number_to_currency(item.price) %></p>
                  <span><i class="fa fa-map-marker" aria-hidden="true"> <%= item.location %></i></span>
                  by:
                  <p class="seller-name label label-primary"><%= " #{item.user.name}" %></p>
                  <br>
                </div>
            </div>
          </div>
        <% end %>
      </div>
  </section>
  <section class="section">
    <div class="page-header">
      <h3>Featured Shop<small> Browse through your most trusted shops</small></h3>
    </div>
    <div class="row">
        <% @shops.each do |shop| %>
          <div class="col-md-3">
            <div class="thumbnail">
              <%= link_to image_tag(shop.image(:medium)), shop %>
                <div class="caption">
                  <h3><%= link_to shop.name, shop %></h3>
                  <span><i class="fa fa-map-marker" aria-hidden="true"> <%= shop.location %></i></span>
                  by:
                  <p class="seller-name label label-primary"><%= " #{shop.user.name}" %></p>
                  <br>
                </div>
            </div>
          </div>
        <% end %>
      </div>
  </section>
</div>

</div>
