
<div class="container">
  <div class=" container">
    <div class="main-search clearfix" >
      <h4>Whatever you need, start searching for it now!!!</h4>

      <%= form_tag search_items_path, class: "form-group", method: :get do |f| %>
        <%= text_field_tag :search, nil, placeholder: "What are you looking for? ", class: "col-md-9" %>
        <%= submit_tag "Search", class: "col-md-3 button-default" %>
      <% end %>
    </div>
  </div>

  <section class="section clearfix">
    <div class="row">
      <div class="col-md-2">
        <div class="section-part">
          <div class="cat-nav">
            <h4 class="section-header">Categories   <%= link_to "See all", categories_path %></h4>
            <% @categories.each do |category| %>
              <ul class="cat-list">
                <li><%= link_to category.name, category_path(category.id) %></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="section-part">
          <div class="main-banner">

          </div>

        </div>
      </div>
      <div class="col-md-2">
        <div class="section-part">
          <h4 class="section-header">Deal of the day</h4>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="row">
        <% @items.each do |item| %>
          <div class="col-md-2">
            <div class="thumbnail">
              <div class="caption">
                <span class="label label-success"><%= item.category.name %></span>
                <h3><%= link_to item.name, item %></h3>
                <p class="amount"><%= number_to_currency(item.price) %></p>
                <p><%= item.location %></p>
                Sold by:
                <p class="seller-name label label-primary"><%= " #{item.user.name}" %></p>

              </div>
            </div>
          </div>
        <% end %>
      </div>
  </section>
</div>
