

<div class="container">
  <div class="center">
    <div class="row">
      <p id="notice"><%= notice %></p>
      <% @items.each do |item| %>
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <span class="label label-success"><%= item.category.name %></span>
              <h3><%= link_to item.name, item %></h3>
              <p class="amount"><%= number_to_currency(item.price) %></p>
              <p><%= item.location %></p>
              Sold by:
              <p class="seller-name label label-primary"><%= " #{item.user.name}" %></p>

            </div>
            <% if (user_signed_in?) && (current_user == item.user) %>
              <%= link_to "Edit", edit_item_path(item) %>
              <%= link_to "Delete", item, method: :get, data: {confirm: "Are you sure?"} %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  <%= if (user_signed_in?) %>
    <%= link_to 'New Item', new_item_path %>
  <% end %>
</div>
