<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag @item.image %>
        </div>
      </div>
      <div class="col-md-6">
        <span class="label label-success">
          <%=  @item.category.name %>
        </span><br ><br>
        <span class="label label-danger"><%= @item.id %></span>
        <h3><%= @item.name %>  | <%= number_to_currency(@item.price) %></h3>
        <label>Description:</label>
        <p  class= "well item-desc "><%= @item.description%></p>
        <i class="fa fa-map-marker" aria-hidden="true"> <%= @item.location %></i><br><br>
        By
        <p class="label label-primary">
          <%= " #{@item.user.name}" %>
        </p><br >
        <br>
        <button type="button" name="button" class="btn btn-primary">Contact Seller</button>

        <% if (user_signed_in?) && (current_user == @item.user) %>
          <%= link_to "Edit", edit_item_path(@item) %>
          <%= link_to 'Back', items_path %>
          <%= link_to "Delete", @item, method: :get, data: {confirm: "Are you sure?"} %>
        <% end %>
      </div>
      <div class="col-md-2">
        <div class="section-part">

        </div>
      </div>
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Galery</a></li>
        <li role="presentation"><a href="#">Review</a></li>
        <li role="presentation"><a href="#">Problems</a></li>
      </ul>
    </div>

  </div>
</div>
