<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <%= image_tag @item.image %>
        </div>
      </div>
      <div class="col-md-6">
        <span class="label label-danger"><%= @item.id %></span>
        <h3><%= @item.name %></h3>
        <label>Price:</label>
        <p><%= number_to_currency(@item.price) %></p>
        <label>Description:</label>
        <p><%= @item.description %></p>
        <label>Location:</label>
        <p><%= @item.location %></p>
        Sold by
        <p class="label label-primary">
          <%= " #{@item.user.name}" %>
        </p><br >
        <span class="label label-success">
          <%=  @item.category.name %>
        </span><br >

        <br>
        <button type="button" name="button" class="btn btn-primary">Add to Cart</button>
        <button type="button" name="button" class="btn btn-primary">Contact Seller</button>
      </div>
    </div>


    <%= link_to 'Edit', edit_item_path(@item) %> |
    <%= link_to 'Back', items_path %>
    <%= link_to 'Delete', @item, method: :delete, data: { confirm: "Are you sure?" }%>

  </div>
</div>
