
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>


<div class="container">
  <div class="center">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <h3><%= link_to item.name, item %></h3>
              <p class="amount"><%= number_to_currency(item.price) %></p>
              <p><%= item.location %></p>
              <p class="seller-name"><%= "Sold by " %></p>
              <%= link_to 'Edit', edit_item_path %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  <%= link_to 'New Item', new_item_path %>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
<%= link_to 'Delete', @category, method: :delete, data: { confirm: "Are you sure?" }%>
