
<nav class=" navbar-default clearfix">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="row">
      <div class="col-md-2">

      </div>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "claeus", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <%= form_tag search_items_path, class: "navbar-form navbar-left", method: :get do |f| %>
          <div class="form-group has-feedback has-feedback-left">
            <%= text_field_tag :search, nil, placeholder: "What are you looking for? ", class: " form-control" %>
          </div>
          <%= submit_tag "Search", class: " button-default" %>
        <% end %>



      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to new_user_session_path do %><i class="fa fa-heart fa-2x" aria-hidden="true"></i>Favorites<% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><i class="fa fa-home fa-2x" aria-hidden="true"></i>Sign Out<% end %> </li>
          <li class="round-image-50"><%= image_tag(current_user.image(:thumb))%></li>
        <% else %>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <li> <%= link_to "Log In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
